---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=type:pr%20updated:2018-12-31..2019-01-14%20repo:balvig/hub_link
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1547438905'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/balvig/hub_link/issues/23","repository_url":"https://api.github.com/repos/balvig/hub_link","labels_url":"https://api.github.com/repos/balvig/hub_link/issues/23/labels{/name}","comments_url":"https://api.github.com/repos/balvig/hub_link/issues/23/comments","events_url":"https://api.github.com/repos/balvig/hub_link/issues/23/events","html_url":"https://github.com/balvig/hub_link/pull/23","id":398166615,"node_id":"MDExOlB1bGxSZXF1ZXN0MjQzOTM0Mjg3","number":23,"title":"Reposition
        mergometer as a simple way of fetching raw PR/review/review request data from
        GitHub","user":{"login":"balvig","id":104138,"node_id":"MDQ6VXNlcjEwNDEzOA==","avatar_url":"https://avatars0.githubusercontent.com/u/104138?v=4","gravatar_id":"","url":"https://api.github.com/users/balvig","html_url":"https://github.com/balvig","followers_url":"https://api.github.com/users/balvig/followers","following_url":"https://api.github.com/users/balvig/following{/other_user}","gists_url":"https://api.github.com/users/balvig/gists{/gist_id}","starred_url":"https://api.github.com/users/balvig/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/balvig/subscriptions","organizations_url":"https://api.github.com/users/balvig/orgs","repos_url":"https://api.github.com/users/balvig/repos","events_url":"https://api.github.com/users/balvig/events{/privacy}","received_events_url":"https://api.github.com/users/balvig/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2019-01-11T07:38:41Z","updated_at":"2019-01-11T07:38:53Z","closed_at":"2019-01-11T07:38:50Z","author_association":"OWNER","pull_request":{"url":"https://api.github.com/repos/balvig/hub_link/pulls/23","html_url":"https://github.com/balvig/hub_link/pull/23","diff_url":"https://github.com/balvig/hub_link/pull/23.diff","patch_url":"https://github.com/balvig/hub_link/pull/23.patch"},"body":"Rips
        out all the CSV/exporting/report stuff.\r\nFound that I needed the raw capability
        of getting all the data programatically in other projects too!\r\nhttps://github.com/balvig/hub_store
        will provide CSV/Sqlite saving capability.","score":1.0}]}'
  recorded_at: Mon, 14 Jan 2019 04:07:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/balvig/hub_link/pulls/23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '11'
      X-Ratelimit-Reset:
      - '1547439806'
      Etag:
      - W/"91e44c7a35f3b6e5d147cfa5b156a5aa"
      Last-Modified:
      - Fri, 11 Jan 2019 07:38:53 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/balvig/hub_link/pulls/23","id":243934287,"node_id":"MDExOlB1bGxSZXF1ZXN0MjQzOTM0Mjg3","html_url":"https://github.com/balvig/hub_link/pull/23","diff_url":"https://github.com/balvig/hub_link/pull/23.diff","patch_url":"https://github.com/balvig/hub_link/pull/23.patch","issue_url":"https://api.github.com/repos/balvig/hub_link/issues/23","number":23,"state":"closed","locked":false,"title":"Reposition
        mergometer as a simple way of fetching raw PR/review/review request data from
        GitHub","user":{"login":"balvig","id":104138,"node_id":"MDQ6VXNlcjEwNDEzOA==","avatar_url":"https://avatars0.githubusercontent.com/u/104138?v=4","gravatar_id":"","url":"https://api.github.com/users/balvig","html_url":"https://github.com/balvig","followers_url":"https://api.github.com/users/balvig/followers","following_url":"https://api.github.com/users/balvig/following{/other_user}","gists_url":"https://api.github.com/users/balvig/gists{/gist_id}","starred_url":"https://api.github.com/users/balvig/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/balvig/subscriptions","organizations_url":"https://api.github.com/users/balvig/orgs","repos_url":"https://api.github.com/users/balvig/repos","events_url":"https://api.github.com/users/balvig/events{/privacy}","received_events_url":"https://api.github.com/users/balvig/received_events","type":"User","site_admin":false},"body":"Rips
        out all the CSV/exporting/report stuff.\r\nFound that I needed the raw capability
        of getting all the data programatically in other projects too!\r\nhttps://github.com/balvig/hub_store
        will provide CSV/Sqlite saving capability.","created_at":"2019-01-11T07:38:41Z","updated_at":"2019-01-11T07:38:53Z","closed_at":"2019-01-11T07:38:50Z","merged_at":"2019-01-11T07:38:50Z","merge_commit_sha":"a56b9213b886e76b19f71309f713991d45d16dfa","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/balvig/hub_link/pulls/23/commits","review_comments_url":"https://api.github.com/repos/balvig/hub_link/pulls/23/comments","review_comment_url":"https://api.github.com/repos/balvig/hub_link/pulls/comments{/number}","comments_url":"https://api.github.com/repos/balvig/hub_link/issues/23/comments","statuses_url":"https://api.github.com/repos/balvig/hub_link/statuses/f73c79abdbcdbe8d9ca5b46c8ab0d2c4e9a0fb50","head":{"label":"balvig:hub_link","ref":"hub_link","sha":"f73c79abdbcdbe8d9ca5b46c8ab0d2c4e9a0fb50","user":{"login":"balvig","id":104138,"node_id":"MDQ6VXNlcjEwNDEzOA==","avatar_url":"https://avatars0.githubusercontent.com/u/104138?v=4","gravatar_id":"","url":"https://api.github.com/users/balvig","html_url":"https://github.com/balvig","followers_url":"https://api.github.com/users/balvig/followers","following_url":"https://api.github.com/users/balvig/following{/other_user}","gists_url":"https://api.github.com/users/balvig/gists{/gist_id}","starred_url":"https://api.github.com/users/balvig/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/balvig/subscriptions","organizations_url":"https://api.github.com/users/balvig/orgs","repos_url":"https://api.github.com/users/balvig/repos","events_url":"https://api.github.com/users/balvig/events{/privacy}","received_events_url":"https://api.github.com/users/balvig/received_events","type":"User","site_admin":false},"repo":{"id":79800405,"node_id":"MDEwOlJlcG9zaXRvcnk3OTgwMDQwNQ==","name":"hub_link","full_name":"balvig/hub_link","private":false,"owner":{"login":"balvig","id":104138,"node_id":"MDQ6VXNlcjEwNDEzOA==","avatar_url":"https://avatars0.githubusercontent.com/u/104138?v=4","gravatar_id":"","url":"https://api.github.com/users/balvig","html_url":"https://github.com/balvig","followers_url":"https://api.github.com/users/balvig/followers","following_url":"https://api.github.com/users/balvig/following{/other_user}","gists_url":"https://api.github.com/users/balvig/gists{/gist_id}","starred_url":"https://api.github.com/users/balvig/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/balvig/subscriptions","organizations_url":"https://api.github.com/users/balvig/orgs","repos_url":"https://api.github.com/users/balvig/repos","events_url":"https://api.github.com/users/balvig/events{/privacy}","received_events_url":"https://api.github.com/users/balvig/received_events","type":"User","site_admin":false},"html_url":"https://github.com/balvig/hub_link","description":"Fetch
        raw pull request & review data from GitHub","fork":false,"url":"https://api.github.com/repos/balvig/hub_link","forks_url":"https://api.github.com/repos/balvig/hub_link/forks","keys_url":"https://api.github.com/repos/balvig/hub_link/keys{/key_id}","collaborators_url":"https://api.github.com/repos/balvig/hub_link/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/balvig/hub_link/teams","hooks_url":"https://api.github.com/repos/balvig/hub_link/hooks","issue_events_url":"https://api.github.com/repos/balvig/hub_link/issues/events{/number}","events_url":"https://api.github.com/repos/balvig/hub_link/events","assignees_url":"https://api.github.com/repos/balvig/hub_link/assignees{/user}","branches_url":"https://api.github.com/repos/balvig/hub_link/branches{/branch}","tags_url":"https://api.github.com/repos/balvig/hub_link/tags","blobs_url":"https://api.github.com/repos/balvig/hub_link/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/balvig/hub_link/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/balvig/hub_link/git/refs{/sha}","trees_url":"https://api.github.com/repos/balvig/hub_link/git/trees{/sha}","statuses_url":"https://api.github.com/repos/balvig/hub_link/statuses/{sha}","languages_url":"https://api.github.com/repos/balvig/hub_link/languages","stargazers_url":"https://api.github.com/repos/balvig/hub_link/stargazers","contributors_url":"https://api.github.com/repos/balvig/hub_link/contributors","subscribers_url":"https://api.github.com/repos/balvig/hub_link/subscribers","subscription_url":"https://api.github.com/repos/balvig/hub_link/subscription","commits_url":"https://api.github.com/repos/balvig/hub_link/commits{/sha}","git_commits_url":"https://api.github.com/repos/balvig/hub_link/git/commits{/sha}","comments_url":"https://api.github.com/repos/balvig/hub_link/comments{/number}","issue_comment_url":"https://api.github.com/repos/balvig/hub_link/issues/comments{/number}","contents_url":"https://api.github.com/repos/balvig/hub_link/contents/{+path}","compare_url":"https://api.github.com/repos/balvig/hub_link/compare/{base}...{head}","merges_url":"https://api.github.com/repos/balvig/hub_link/merges","archive_url":"https://api.github.com/repos/balvig/hub_link/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/balvig/hub_link/downloads","issues_url":"https://api.github.com/repos/balvig/hub_link/issues{/number}","pulls_url":"https://api.github.com/repos/balvig/hub_link/pulls{/number}","milestones_url":"https://api.github.com/repos/balvig/hub_link/milestones{/number}","notifications_url":"https://api.github.com/repos/balvig/hub_link/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/balvig/hub_link/labels{/name}","releases_url":"https://api.github.com/repos/balvig/hub_link/releases{/id}","deployments_url":"https://api.github.com/repos/balvig/hub_link/deployments","created_at":"2017-01-23T12:00:33Z","updated_at":"2019-01-11T08:10:06Z","pushed_at":"2019-01-11T08:10:19Z","git_url":"git://github.com/balvig/hub_link.git","ssh_url":"git@github.com:balvig/hub_link.git","clone_url":"https://github.com/balvig/hub_link.git","svn_url":"https://github.com/balvig/hub_link","homepage":"","size":89,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"open_issues_count":1,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":2,"open_issues":1,"watchers":2,"default_branch":"master"}},"base":{"label":"balvig:master","ref":"master","sha":"6ddf3fa6e27dae829cb1f414a9fc6cc1382a3265","user":{"login":"balvig","id":104138,"node_id":"MDQ6VXNlcjEwNDEzOA==","avatar_url":"https://avatars0.githubusercontent.com/u/104138?v=4","gravatar_id":"","url":"https://api.github.com/users/balvig","html_url":"https://github.com/balvig","followers_url":"https://api.github.com/users/balvig/followers","following_url":"https://api.github.com/users/balvig/following{/other_user}","gists_url":"https://api.github.c[...]
- request:
    method: get
    uri: https://api.github.com/repos/balvig/hub_link/pulls/23/reviews?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1547439806'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 14 Jan 2019 04:07:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/balvig/hub_link/issues/23/labels?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1547439806'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      Last-Modified:
      - Fri, 11 Jan 2019 07:38:53 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 14 Jan 2019 04:07:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/balvig/hub_link/pulls/23/requested_reviewers?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1547439806'
      Etag:
      - W/"a4b6ec6cd716144d080f1c1e4b7c6338"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"teams":[]}'
  recorded_at: Mon, 14 Jan 2019 04:07:28 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=type:pr%20updated:2019-01-14..2019-01-28%20repo:balvig/hub_link
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1547438905'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 14 Jan 2019 04:07:28 GMT
recorded_with: VCR 4.0.0
